<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador Online</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <img src="/static/raices-logo.png" alt="Raices Logo" class="logo">
</header>
<h1>Cotización gratis, a tu medida</h1>
{{block "content" .}}{{end}}
<script>window.scrollTo(0,0);</script>
</body>
</html>