{{define "content"}}
<h1>La garantía más conveniente del mercado te espera</h1>

<ul class="breadcrumb">
    <li class="completed">Paso 1: Cálculo</li>
    <li class="active">Paso 2: Pago</li>
    <li>Paso 3: Email</li>
    <li>Paso 4: Resultado</li>
</ul>

<section id="payment">
<h2>Plan de Pago</h2>
<p>Costo total de la garantía: ${{.Cost}}</p>
{{if .DiscountApplied}}
<p>Costo original: ${{.OriginalCost}}</p>
{{end}}
{{if .DiscountMessage}}
<p>{{.DiscountMessage}}</p>
{{end}}
<form hx-post="/select-plan" hx-target="body" hx-swap="innerHTML">
    <input type="hidden" name="cost" value="{{.Cost}}">
    <input type="hidden" name="tipo-garantia" value="{{.TipoGarantia}}">
    <input type="hidden" name="tipo-alquiler" value="{{.TipoAlquiler}}">
    <input type="hidden" name="duracion" value="{{.Duracion}}">
    <input type="hidden" name="valor-mes" value="{{.ValorMes}}">
    <input type="hidden" name="expensas" value="{{.Expensas}}">
    <label class="payment-label">Seleccione forma de pago:</label>
    <div class="payment-plans">
        {{range .Plans}}
        <div class="plan-card">
            <input type="radio" name="plan-pago" value="{{.Name}}|{{.Amount}}" id="{{.Name}}" required>
            <label for="{{.Name}}">
                {{if gt .Discount 0}}<p class="discount">{{.Discount}}% descuento</p>{{end}}
                <h3 class="plan-name">{{.Name}}</h3>
                <p class="amount">${{.Amount}}</p>
                <p class="amount-text">{{if .PerCuota}}por cuota{{else}}total{{end}}</p>
                <button type="submit" class="select-button">Lo quiero</button>
            </label>
        </div>
        {{end}}
    </div>
</form>
</section>
{{end}}

{{template "base" .}}